<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file"
                     fileName="${filename}/solver.log"
                     filePattern="${filename}/$${date:yyyy-MM}/solver-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
                <!--
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                -->
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${filename}" maxDepth="2">
                    <IfFileName glob="*/solver-*.log.gz" />
                    <IfLastModified age="P14D">
                        <IfAny>
                            <IfAccumulatedFileSize exceeds="4 GB" />
                            <IfAccumulatedFileCount exceeds="16" />
                        </IfAny>
                    </IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>
